* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #eae3c8;
}

body {
    background-color: #2b2e4a ;
}

 main .card {
    width: 50%;
    height: 50%;
    background-color: #903749  ;
   position: relative;
    margin: 50px auto;
    text-align: center;
    border: 1px solid #2b2e4a;
    
}

.card .card-divider {
    width: 100%;
    height: 30px;
    background-color: #e84545;
    position: sticky;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.3);
    
}

main section p {
    justify-content: center;
    margin: 1em;
    
}

main section .author-container{
    width: 100%; 
   
}
main section .author{
    display: flex;
    flex-direction: row-reverse;
    margin: auto 2em .5em;
   
}